<div>

  <mat-card class="example-card">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mike Warner BSc (Hons)</mat-card-title>
      <mat-card-subtitle>
        <a style="color: darkgrey;" href="https://www.dropbox.com/s/q8a710aseq1sirz/CISSP-Certificate.pdf?dl=0" target="_blank">CISSP</a>&nbsp;
        <a style="color: darkgrey;" href="https://www.dropbox.com/s/nl8ojtsu4qj7lvc/CRISC-Certificate.pdf?dl=0" target="_blank">CRISC</a>&nbsp;
        <a style="color: darkgrey;" href="https://www.dropbox.com/s/eczkduyv6jrn8nd/CompTIA%20Network%2B%20certificate.pdf?dl=0" target="_blank">Network+</a>&nbsp;
        <a style="color: darkgrey;" href="https://www.dropbox.com/s/r8p8i2g7ijd2b85/Splunk%20Power%20User%206.3%20Certification.pdf?dl=0" target="_blank">Splunk PU</a>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <h6 style="color: darkgray; margin-bottom: 0;">whoami</h6>
      <p>
        I'm a software engineer and application security specialist with 15+ years experience working with
        <a style="color: whitesmoke;" href="https://docs.oracle.com/javase/tutorial/" target="_blank">Java</a>
        (<a style="color: darkgray;" href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a>),
        <a style="color: whitesmoke;" href="https://www.python.org/doc/" target="_blank">Python</a>
        (<a style="color: darkgray;" href="https://docs.djangoproject.com/en/3.2/" target="_blank">Django</a> /
        <a style="color: darkgray;" href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">Flask</a>), and
        <a style="color: whitesmoke;" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript</a>
        (<a style="color: darkgray;" href="https://docs.djangoproject.com/en/3.2/" target="_blank">Typescript</a> /
        <a style="color: darkgray;" href="https://www.typescriptlang.org/docs/" target="_blank">Angular</a> /
        <a style="color: darkgray;" href="https://nodejs.org/en/docs/" target="_blank">Node</a>).
      </p>

      <h6 style="color: darkgray; margin-bottom: 0;">CVE's</h6>
      <p>
        I have CVE assignment <a style="color: darkgray;" href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=2019-17623" target="_blank">CVE-2019-17623</a>
        for finding an information disclosure bug in a popular <a style="color: darkgray;" href="https://www.facebook.com/ParkourZoneOfficial/" target="_blank">Google Play Store App</a>
        where I was able to exfiltrate the PII of its entire user base.
      </p>
    </mat-card-content>

  </mat-card>

</div>
